/* Main styles for theme */

/* User Variables and Mixins */
@import 'partials/responsive-breakpoints.css';

/* User styles */
@import 'partials/container.css';


/*
	++++ GLOBALS
*/
html{}
body{
  background-color: #fff;
  font-family: sans-serif;

  /* Breakpoint example */
  @media (--xlarge-up){}
}

svg use {
    pointer-events: none;
}

a{}

img{
	height: auto;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{}

iframe{
	max-width: 100%;
}

strong, b{}
