/* Main styles for theme */

/* User Variables and Mixins */

/*
	Breakpoint mixins
*/

/* User styles */

/*
 * Partials: layout containers
 */

/*
	++++ GLOBALS
*/

html{}

body{
  background-color: #fff;
  font-family: sans-serif;

  /* Breakpoint example */
}

@media (min-width: 1200px){

  body{}
}

svg use {
    pointer-events: none;
}

a{}

img{
	height: auto;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{}

iframe{
	max-width: 100%;
}

strong, b{}
