/* Main styles for theme */

/* User Variables and Mixins */

/*
	Breakpoint mixins
*/

@custom-media --small-down (max-width: 575px);

@custom-media --medium-down (max-width: 734px);

@custom-media --large-down (max-width: 991px);

@custom-media --xlarge-down (max-width: 1199px);

@custom-media --small-up (min-width: 576px);

@custom-media --medium-up (min-width: 735px);

@custom-media --large-up (min-width: 992px);

@custom-media --xlarge-up (min-width: 1200px);

/* User styles */

/*
 * Partials: layout containers
 */

/*
	++++ GLOBALS
*/

html{}

body{
  background-color: #fff;
  font-family: sans-serif

  /* Breakpoint example */
}

@media (--xlarge-up){

body{
}}

svg use {
    pointer-events: none;
}

a{
  color: tomato
}

a:hover{
    text-decoration: none;
  }

img{
	height: auto;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{}

iframe{
	max-width: 100%;
}

strong, b{}
